@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 6.8rem;
    --transparent: rgba(255, 255, 255, 0);
  }

  html {
    scroll-behavior: smooth;
    background-color: black;
    @apply antialiased bg-black-100 text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
