@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: black;
    @apply antialiased bg-black text-white;
    font-size: 62.5%;
  }
}
