@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 6.8rem;
  }

  html {
    scroll-behavior: smooth;
    background-color: black;
    @apply antialiased bg-black text-white;
    font-size: 62.5%;
  }
}
